.container {
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 300px;
    font-size: 16px;
}
            
.btn {
    border-radius: 0;
    font-size: 16px;
    border: none;
}
            
.btn.btn-search {
    background-color: green;
}